body {
    background: no-repeat url("../images/icon-sedans.svg");
    background-size: 200px;
}

.hello {
    color: var(--color-cyan--very-dark);
    font-family: LexendDeca, sans-serif;
    font-size: var(--font-size);
}

